.navbar{
    float: right;
    padding: 1.5rem;
    display: flex;
    gap: 6rem;
    position: fixed;
    right: 0;
    background-color: rgb(33, 33, 33, 0.3);
    border-radius: 5rem;
    margin: 1rem;
    z-index: 1;
    transition: ease;
}

@media screen and (max-width: 768px) {
    .navbar{
        transform: scale(0.5);
        position: fixed;
        margin-right: 6rem;
        padding: 0.5rem;
    }
}

.navbar a:hover{
    transform : translateY(-2px)
}